<div class="row">
    <img [src]="photoDataUrl" width="200">
</div>

<div *ngIf="post$ | async as p" style="font-size: 1.5em;">
    <table>
        <tr>
            Post Id &nbsp;&nbsp;
            {{p.postId}}
        </tr>
        <tr>
            {{p.title}}
        </tr>
        
        <tr>{{p.comments}}</tr>
    </table>
</div> 

<div>
    <table>
      <tr>
        <td>
          <button type="button" (click)="thumbsUp()">👍 {{ (like$ | async)?.totalPlusCount }}</button>
          <button type="button" (click)="thumbsDown()">👎 {{ (like$ | async)?.totalMinusCount }}</button>
        </td>
      </tr>
    </table>
</div>
  


<!-- <div>
    <table>
        <tr>
            <td>
                <button type="button" (click)="thumbsUp()">👍</button> 
                <button type="button" (click)="thumbsDown()">👎</button>
            </td>
        </tr>
    </table>
</div>

<div *ngIf="like$ | async as l" style="font-size: 1.5em;">
    <table>
      <tr>
          {{l.totalPlusCount}}  {{l.totalMinusCount}}  
      </tr>
    </table>
</div> -->



